<p id="status"></p>
<form id="annotate-form" action="" method="POST" target="no-target" style="visibility:hidden;height: 0px;">
</form>
<canvas id="canvas-builder" style="visibility: hidden; display: none;"></canvas>
<iframe src="#" id="no-target" name="no-target" style="display:none; visibility:hidden;height: 0px;"></iframe>
<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:1080 !important;">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="z-index:1080;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thank you for your feedback.</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
