<div class="container-fluid">
  <div class="background-subnavigation row" style="">
    <a role="presentation" class="vision-tab col-4 nav-item nav-link {%if page.url contains "introduction" %}active{%endif%}" href='/background-and-vision/introduction/'>
      <div class="tab-content intro">
        <div class="image-box" style="background: url('/img/100_2237.JPG') no-repeat center center; background-size: cover; height: 250px;">
        </div>
        <h3>Introduction</h3>
        <p>San Antonio is planning boldly. We’re tackling the tough issues and making the hard choices because “business as usual” isn’t good enough. We’re planning now to ensure that the great City of San Antonio captures the type of growth and economic development that is compatible with our community’s vision of the future and provides benefits to all our current and future residents.</p>
      </div>
    </a>
    <a role="presentation" class="vision-tab col-4 nav-item nav-link {%if page.url contains "assets" %}active{%endif%}" href='/background-and-vision/assets-opportunities/'>
      <div class="tab-content intro">
        <div class="image-box" style="background: url('/img/Mission-Reach.jpg') no-repeat center center; background-size: cover; height: 250px;">
        </div>
        <h3>Assets, Issues, and Opportunities</h3>
        <p>The City of San Antonio has many assets that make it a desirable place to live and a place that is estimated to capture a significant number of new residents and employees over the coming decades. These assets serve as the basis for future opportunities.</p>
      </div>
    </a>
    <a role="presentation" class="vision-tab col-4 nav-item nav-link {%if page.url contains "framework" %}active{%endif%}" href='/background-and-vision/vision-framework/'>
      <div class="tab-content intro">
        <div class="image-box" style="background: url('/img/texas-riverwalk-feature.jpg') no-repeat center center; background-size: cover; height: 250px;">
        </div>
        <h3>Vision Framework</h3>
        <p>Collectively, the Vision Framework provides the direction for all subsequent chapters and sections of this document. The Plan Framework, the Plan Element goals and policies, as well as the specific implementation strategies are intended to position the City of San Antonio, its partners and the larger community to realize the future envisioned throughout this chapter.</p>
      </div>
    </a>
  </div>
</div>
