<!-- remove the commented out li below if you are using our terms of svc generator, add other legal links as you see fit-->
<nav id="legal-nav" class="legal" role="navigation">
  <div class="subfooter-legal">
    <center>Copyright © 2000-<script language="JavaScript">document.write(new Date().getFullYear());
    </script> City of San Antonio</center>
  </div>
  <ul class="legal-links">
    <li class="first"><a href="https://www.sanantonio.gov/DIO">Diversity &amp; Inclusion</a></li>
    <li><a href="https://www.sanantonio.gov/ada">ADA Compliance</a></li>
    <li><a href="https://www.sanantonio.gov/easi">Telecommuting</a></li>
    <li><a href="https://www.sanantonio.gov/websitemap">Site Map</a></li>
    <li><a href="https://www.sanantonio.gov/opengovernment">Open Records</a></li>
    <li><a href="https://www.sanantonio.gov/contact">Contact Us</a></li>
    <li><a href="https://www.sanantonio.gov/disclaimer">Privacy Policy &amp; Disclaimer</a></li>
  </ul>
</nav>
