<div  id='quote-wrapper-out' class="">
<img id='enneagram-star' src="./img/enneagram-gradient.png" alt="the enneagram nine-point star">

<div id='quote-wrapper-in' class="">
  <h2 id='enneagram-quote'>"If we observe ourselves truthfully and non-judgmentally, seeing the mechanisms of our personality in action, we can wake up, and our lives can be a miraculous unfolding of beauty and joy."
  </h2>
  <h3 id='enneagram-credit'>Don Richard Riso in <em>The Wisdom of the Enneagram</em></h3>
</div>

</div>
