<script type="text/javascript" src="/js/mailchimp.js"></script>

<div class="saspeakup-wrap">
<h3 class="text-center">To subscribe for updates for the {{site.title}},</h3>
<p> <a href="https://saspeakup.com/eastside-plan"><button class="btn btn-success" type="submit">Please Click Here.</button></a></p>
<!-- 
<br/>
<br/>
<br/>
<h3 class=" text-center">Suscríbase para actualizaciones</h3>
<p>Para suscribirse a las actualizaciones del {{site.team-lead.name-es}},</p>
<p> <a href="https://www.saspeakup.com/south-plan-espanol"><button class="btn btn-success" type="submit">Haga Clic Aquí.</button></a></p>
</div> -->
