<a id="myBtn" class="btn btn-sm btn-info" style="margin: 10px 0;">Learn more about the Regional Center Profiles</a>
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span id="close">&times;</span>
  <div class='row'>
    <div class="col-8">
      <h3 class="text-orange">How to use the Regional Center Profiles</h3>
    </div>
    <div class="col-sm-6">
      <p>This study uses data from the Comprehensive Plan Initial Studies, the U.S. Bureau of Labor and Statistics (BLS), VIA Metropolitan Agency, WalkScore.com and the U.S. Census, including the Location Affordability Index (LAI). The analysis utilizes nine indicators of existing conditions that illustrate differences between the centers. The indicators are grouped by type:</p>
      <ul>
        <li><b>Social:</b> Job diversity, Housing and Transportation (H&T) Index, Per Capita Income</li>
        <li><b>Connectivity:</b> Transit Utilization, Walkability, Median Commute Distance</li>
        <li><b>Mix of Uses</b> Ratio of Workers to Residents, Residential Density, Employment Density</li>
      </ul>
      <p>An analysis of potential for land development complements the regional center profiles. It includes indicators for population and employment per developed acre and the percent of acres developed in each center.</p>
    </div>
    <div class="col-sm-6">
      <p>The city and stakeholders developed aspirational scores and ideal measures of success for each of the indicators, tailored to the three regional center types. Comparing the existing conditions scores in each center to the aspirational scores shows how each center is performing well and where it needs improvement to reach its potential.</p>
      <p>Aspirational scores vary based on the urban form, land use mix and anticipated specialization of each of the three regional center types. For example, Activity Centers have high aspirational scores for transit use and residential density, while these criteria are less relevant for Logistics/Service Centers and Special Purpose Centers based on the descriptions of the regional center types on page 5.2</p>
    </div>
  </div>
  <div class="row" style="margin-top: 60px;">
    <div class="col-sm-4">
      <p>How well a center is currently meeting its aspirational score is demonstrated by bar graphs. The profiles on the following pages tell the story of each regional center’s analysis. Each one provides:</p>
      <table>
        <tr>
          <th>Strengths</th>
          <th><span class="profile-legend-letters">A</span></th>
        </tr>
        <tr>
          <th>Introductory Text</th>
          <th><span class="profile-legend-letters">B</span></th>
        </tr>
        <tr>
          <th>Locator Map</th>
          <th><span class="profile-legend-letters">C</span></th>
        </tr>
        <tr>
          <th>Key Economic and Demographic Facts</th>
          <th><span class="profile-legend-letters">D</span></th>
        </tr>
        <tr>
          <th>Existing Conditions and Aspirational Scores</th>
          <th><span class="profile-legend-letters">E</span></th>
        </tr>
        <tr>
          <th>Tasks Ahead</th>
          <th><span class="profile-legend-letters">F</span></th>
        </tr>
        <tr>
          <th>Precedent Photo</th>
          <th><span class="profile-legend-letters">G</span></th>
        </tr>
      </table>
    </div>
    <div class="col-sm-8 text-center">
      <img src="/img/building-blocks/regional-centers/regional-center-modal.png" alt="">
    </div>
  </div>
</div>
</div>
