
<div class="container">
  <div class="row row-70 text-center">
    <div class="col-md-7 text-left">
      <a href="{{site.sa-tomorrow-comp-link}}"><h5>El Plan SA Tomorrow</h5></a>
      <p style="text-align:left !important;">San Antonio está planificando para garantizar que nuestra gran ciudad capture el tipo de crecimiento y desarrollo económico que guiará a nuestra comunidad hacia el futuro y brindará beneficios a todos nuestros residentes.  <a href="{{site.sa-tomorrow-comp-link}}" target="_blank">Visite este enlace</a> para obtener más información sobre el Plan integral y lo que estamos haciendo para que San Antonio sea una comunidad diversa y próspera.</p>
    </div>
    <div class="col-md-5 mobile-hide print-hide">
      <a href="{{site.sa-tomorrow-comp-link}}"><img data-src="/img/SA_Tomorrow_All_RGB.png" alt="San Antonio Comp plan logo"></a>
    </div>
  </div>
</div>
