
<div class="container">
  <div class="row row-70 text-center">
    <div class="col-md-7 text-left">
      <a href="{{site.sa-tomorrow-comp-link}}"><h5>The SA Tomorrow Plan</h5></a>
      <p style="text-align:left !important;">San Antonio is planning boldly to ensure our great City captures the type of growth and economic development that will lead our community into the future and provide benefits to all our residents. <a href="{{site.sa-tomorrow-comp-link}}" target="_blank">Visit this website</a> to learn more about the Comprehensive Plan and what we’re doing to make San Antonio a diverse and thriving community.</p>
    </div>
    <div class="col-md-5 mobile-hide print-hide">
      <a href="{{site.sa-tomorrow-comp-link}}"><img data-src="/img/SA_Tomorrow_All_RGB.png" alt="San Antonio Comp plan logo"></a>
    </div>
  </div>
</div>
