<div class="" id="scroll-down-indicator-bar">
  <div class="">
    <i class="fa fa-chevron-down" id="scroll-down-indicator"></i>
  </div>
</div>
<style media="screen">
  #scroll-down-indicator-bar{
    z-index: 1;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    text-align:center ;
    background: transparent;
    pointer-events:none;
  }
  #scroll-down-indicator-bar {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    -moz-animation-duration: 3s;
    -moz-animation-delay: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
}
  #scroll-down-indicator{
    font-size: 3em;
    color: #e16840;
    position: absolute;
    margin: 0 auto;
    top: 15%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
  }
</style>
<script type="text/javascript" src="/js/scroll-down-indicator.js">

</script>
