
<div id="image-section">
  <div class="container-fluid">
    <ul class="nav nav-tabs row" role="tablist" id="myTabs">
      <a role="tab"  style="display: none;" class="col-md-3 nav-item nav-link formOff"  aria-controls="home">
        <div class="tab-content">
          <h3>Plan Framework</h3>
        </div>
      </a>
      <!-- <a role="tab" role="tab" class="col-md-2 nav-item nav-link formOff" href="#focus-area" aria-controls="home" data-toggle='tab'>
        <div class="tab-content">
          <h3>Focus Areas</h3>
        </div>
      </a>
      <a role="tab" role="tab" class="col-md-2 nav-item nav-link formOff" href="#mobility-preference" aria-controls="home" data-toggle='tab'>
        <div class="tab-content">
          <h3>Mobility</h3>
        </div>
      </a>
      <a role="tab" role="tab" class="col-md-2 nav-item nav-link formOn" href="#amenities" aria-controls="home" data-toggle='tab'>
        <div class="tab-content">
          <h3>Amenities Infrastructure</h3>
        </div>
      </a> -->
      <a role="tab" role="tab" class="col-md-2 nav-item nav-link formOn" href="#land-use-preference" aria-controls="home" data-toggle='tab'>
        <div class="tab-content">
          <h3>Land Use</h3>
        </div>
      </a>
      <a role="tab" role="tab" class="col-md-2 nav-item nav-link formOn" href="#housing" aria-controls="home" data-toggle='tab'>
        <div class="tab-content">
          <h3>Housing</h3>
        </div>
      </a>
      <a role="tab" role="tab" class="col-md-2 nav-item nav-link formOn" href="#economic-development" aria-controls="home" data-toggle='tab'>
        <div class="tab-content">
          <h3>Economic Development</h3>
        </div>
      </a>

    </ul>
  </div>
  <div class="tab-content">
    <div id="framework-map"  class="tab-pane fade in active show" role="tabpanel">
      <div class="container">
        <a style="margin-bottom: 1.5em;" href="/img/framework-maps/Brooks_Framework-01.jpg" class="btn btn-sm btn-secondary pull-left" target="_blank">View Full Size</a>
        <div style="margin:1.5em 0">
          <img class="annotatable" src="/img/framework-maps/Brooks_Framework-01sm.jpg" alt="brooks framework map">
        </div>
        <a href="/img/framework-maps/Brooks_Framework-01.jpg" download class="pull-right"><i class="fa fa-download "></i>Download</a>
        <div class="text-left" style="clear: both;">
          <p>The Plan Framework map above identifies and shows the interrelatedness of key physical concepts and strategies in the plan. These include priority focus areas for (re)development; pedestrian, bicycle, and street improvements; parks and open space recommendations; and priority areas to encourage mixed-use corridors.  These recommended physical improvements and investments are complemented by other supportive plan strategies related to housing; economic development; infrastructure; and neighborhood priorities.</p>
          <p>The {{ site.subarea-name }} Area Regional Center focuses growth and new development in appropriate areas, while ensuring protection of established single-family neighborhoods, sensitive lands, and natural features. Gateway treatments along South Presa Street and at the intersection of Goliad Road and SE Military Drive will announce and celebrate the entry to the creeks, greenways and mixed-use centers throughout the area. The largely rural character of the southernmost parts of the plan area will be preserved.</p>
          <p>Mobility improvements focus on enhancing east-west connectivity, including improved access to the San Antonio River and Salado Creek. Improved pedestrian and bicycle infrastructure are key priorities for existing and new neighborhoods, especially around community destinations such as schools, parks, libraries, and community and senior centers. Key corridors will be improved to create pedestrian-friendly environments for residents and businesses as well as increase safety and comfort for all.  Greenways that follow and extend from existing creeks will connect open spaces, parks, and community destinations and create opportunities for environmental protection and environmentally-sensitive development.</p>
        </div>
      </div>
    </div>
    <div id="focus-area"  class="tab-pane fade in " role="tabpanel">
      <div class="container">
        <a style="margin-bottom: 1.5em;" href="/img/framework-maps/Brooks_Framework_Focus-01.jpg" class="btn btn-secondary btn-sm pull-left" target="_blank">View Full Size</a>
        <div style="margin:1.5em 0">
          <img class="annotatable" src="/img/framework-maps/Brooks_Framework_Focus-01sm.jpg" alt="brooks framework focus area map">
        </div>
        <a href="#framework-map" role="tab" class="formOff btn btn-sm btn-info pull-right framework-intro-link" data-toggle='tab' style="margin: 0 1em 1em;">Return to Plan Framework Introduction</a>
        <a href="/img/framework-maps/Brooks_Framework_Focus-01.jpg" download class="pull-right"><i class="fa fa-download"></i>Download</a>
        <div class="text-left" style="clear: both;">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        </div>
        {% include exercise-display.html %}
      </div>
    </div>
    <div id="mobility-preference"  class="tab-pane fade in" role="tabpanel">
      <div class="container">
        <a style="margin-bottom: 1.5em;" href="/img/framework-maps/Brooks_Framework_Mobility-01.jpg" class="btn btn-sm btn-secondary pull-left" target="_blank">View Full Size</a>

        <div style="margin:1.5em 0">
          <img class="annotatable" src="/img/framework-maps/Brooks_Framework_Mobility-01sm.jpg" alt="framework mobility map">
        </div>
        <a href="#framework-map" role="tab" class="formOff btn btn-sm btn-info pull-right framework-intro-link" style="margin: 0 1em 1em;"  data-toggle='tab'>Return to Plan Framework Introduction</a>
        <a href="/img/framework-maps/Brooks_Framework_Mobility-01.jpg" download class="pull-right"><i class="fa fa-download "></i>Download</a>
        <div class="text-left" style="clear: both;">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        </div>
      </div>
    </div>
    <div id="amenities"  class="tab-pane fade in" role="tabpanel">
      <div class="container">
        <div style="margin:1.5em 0">
          <a href="/img/framework-maps/Brooks_Framework_Mobility-01.jpg" target="_blank"><img src="/img/framework-maps/Brooks_Framework_Mobility-01sm.jpg" alt="framework mobility map"></a>
        </div>
        <a href="#framework-map" role="tab" class="formOff btn btn-sm btn-info pull-right framework-intro-link" style="margin: 0 1em 1em;"  data-toggle='tab'>Return to Plan Framework Introduction</a>
        <a href="/img/framework-maps/Brooks_Framework_Mobility-01.jpg" download class="pull-right"><i class="fa fa-download "></i>Download</a>
        <div class="text-left" style="clear: both;">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        </div>
      </div>


    </div>
    <div id="economic-development"  class="tab-pane fade in" role="tabpanel">
      <div class="container">
        <div style="margin:1.5em 0">
          <a href="/img/framework-maps/Brooks_Framework_Mobility-02.jpg" target="_blank"><img src="/img/framework-maps/Brooks_Framework_Mobility-02sm.jpg" alt="mobiliity map"></a>
        </div>
        <a href="/img/framework-maps/Brooks_Framework_Mobility-02.jpg" download class="pull-right"><i class="fa fa-download "></i>Download</a>
        <div class="text-left" style="clear: both;">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        </div>
      </div>

    </div>
    {% include annotation-helper.html %}
  </div>
</div>
