#large-search{
  width: 400px;
  margin: 3em auto 0;
}
#results{
  width: 100%;
  position: relative;
}

table.gsc-resultsHeader{
  display: none !important;
}
table.gsc-table-result{
    border: none !important;
    table td, table th {
      padding: 6px 13px;
      border: none !important;
    }
}
div.gsc-webResult.gsc-result{
  border: none !important;
  width: 100%;
  margin: 0;
}
p.google-search{
height: 30px;
margin-top: 15px;
}
#___gcse_0 {
  width: 80%;
  margin: 0 auto;
  .cse .gsc-control-cse, .gsc-control-cse {padding:1em;background:none;border:none;}
  table td, table th {border: none;padding: 6px 8px;}
  table tr {background:none;border:none;}
  form.gsc-search-box, .cse table.gsc-search-box td.gsc-input, table.gsc-search-box td.gsc-input {padding-right:6px;display: none !important;}
  .cse input.gsc-input, input.gsc-input {display: none !important;}
  div.gsc-clear-button {padding-left:5px;}
  .cse input.gsc-search-button, input.gsc-search-button {display: none !important}
  .gsc-results-wrapper-visible {width: 100%;}
}
