.view-cap, .view-container-border { background-color: white !important; }
.mv-daynames-table { color:black; background:white; margin-bottom: 1em;}
.mv-event-container {
  border-top: none;
  border-bottom: none;
  top: 30px;
 }
.st-dtitle{
  font-size: 10pt;
  padding-right: 5px;
  padding-top: 5px;
}
/*Event title styles*/
div.rb-n{
  background-color: #e16840 !important;
  padding: 4px;
  border-radius: 0;
}
div.st-c-pos{
  margin-top: 6px;
  padding: 0 !important;
}
.st-dtitle-down{
  border: none !important;
}
/***** Styles for 'today' */
.st-dtitle-today{
  background-color: #e16840;
  color: white;
  border: none;
}
.st-bg-today, .st-bg-td-first{
  background-color: #e16840;
  opacity: .2;
  border: none;
  padding: none;
}
.calendar-container.header{
    background: white !important;
  }
#calendarTitle{
  display: none;
}
.today-button{
  border: none;
  background: transparent;
}
.calendar-container.navbutton{
  background-color: orange !important;
}
table#footer1.footer{
  display: none !important;
}

/****** Default tab overrides **********/
td.ui-rtsr{
  background: transparent !important;
}
.ui-rtsr-selected, .ui-rtsr-unselected{
  background: transparent !important;
}

/* responsive iframe */
iframe.cal-frame{
  height: 400px;
  width: 600px;
}
@media screen and (max-width: 358px;){
  .intrinsic-container{
    position: relative;
    height: 0;

    overflow: hidden;
  }
  .intrinsic-container iframe {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
  }
}
